#main
{
  display:-webkit-flex;
  -webkit-user-select:none;
}

#browser
{
  -webkit-flex-basis: 300px;
      /*resize:horizontal;*/
      position: relative;
      overflow:auto;
}

#handle
{
  -webkit-flex-basis: 7px;
  background-color:#45484c;
  cursor:w-resize;
}

#editor
{
  -webkit-flex: 1;
  position: relative;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 0px;
}
 
::-webkit-scrollbar-thumb {
	background-color: rgb(80,80,80);
    border-radius: 0px;
}

::-webkit-scrollbar-corner {			
	background-color: rgba(0,0,0,0.3);
}